<?xml version="1.0" encoding="UTF-8"?>
<apps>
    <remote id="103">
        <protocol>SSH</protocol>
        <host>192.168.1.103</host>
        <port>22</port>
        <username>test</username>
        <password>test</password>
    </remote>
    <app remote="103">
        <sync delete="true">
            <item source="./conf" remote="/server/conf" />
            <item source="./tomcat/webapps" remote="/server/tomcat/webapps" />
        </sync>
        <okExec>/server/tomcat/bin/restart.sh</okExec>
    </app>
</apps>